# BSA:stability

BSA can improve the stability of enzymes. In assay development, some samples seem to precipitate, resulting in a light-scattering style curve. This messes up the test so I want to mitigate it - especially if I'm testing an unstable mutant.

This set of expeiments aims to find out:
- The extent to which BSA stabilises BM3 mutants
    - With time / heat?
    - with % DMSO
    - with [protein] / molar ratio
- The effect of BSA on kd measurements
    - BM3 WT + fatty acids
    - I'll choose 1 BSA conc and test that 
    
# Experiment #1 - BM3 stability w/ BSA
### free parameters
- BM3 conc
- BSA conc
- vol
- % DMSO

### fixed parameters
- Temp
- time points

### target
The target needs to quantify degradation. I'll figure this out after I've got some data
Maybe try to quantify degree of scattering with gradients at 300 nm?

In [12]:
import pandas as pd

dmso_points = [5]
bsa_points = [0,1]
bm3_points = [10, 15, 20]
vol_points = [20, 30, 40]

design = pd.DataFrame([{'% dmso':i, '%bsa':j,'[enzyme]':k,'vol':l} \
              for i in dmso_points for j in bsa_points for k in bm3_points for l in vol_points])
well_allocations = pd.DataFrame([[l + str(i), l + str(i +1)] for l in ['A','B','C'] for i in range(13,25,2) ])
pd.concat([design, well_allocations], axis=1)

    % dmso  %bsa  [enzyme]  vol    0    1
0        5     0        10   20  A13  A14
1        5     0        10   30  A15  A16
2        5     0        10   40  A17  A18
3        5     0        15   20  A19  A20
4        5     0        15   30  A21  A22
5        5     0        15   40  A23  A24
6        5     0        20   20  B13  B14
7        5     0        20   30  B15  B16
8        5     0        20   40  B17  B18
9        5     1        10   20  B19  B20
10       5     1        10   30  B21  B22
11       5     1        10   40  B23  B24
12       5     1        15   20  C13  C14
13       5     1        15   30  C15  C16
14       5     1        15   40  C17  C18
15       5     1        20   20  C19  C20
16       5     1        20   30  C21  C22
17       5     1        20   40  C23  C24

In [8]:
pd.DataFrame([[l + str(i), l + str(i +1)] for l in ['A','B','C'] for i in range(13,25,2) ])

      0    1
0   A13  A14
1   A15  A16
2   A17  A18
3   A19  A20
4   A21  A22
5   A23  A24
6   B13  B14
7   B15  B16
8   B17  B18
9   B19  B20
10  B21  B22
11  B23  B24
12  C13  C14
13  C15  C16
14  C17  C18
15  C19  C20
16  C21  C22
17  C23  C24

In [ ]:
dd